anguage: elixir
elixir:
  - 1.9
services:
  - postgresql
stages:
  - test
  - deploy
jobs:
  include:
    - name: "Test"
      stage: test
      script:
        - mix deps.get
        - mix test
    - name: "Deploy"
      stage: deploy
      # if: (NOT type IN (pull_request)) AND (branch = master)
      script:
        - ./install_cli_tools.sh
        - cd terraform/
        - ../aws_cmd/aws s3 cp $S3_TERRAFORM_STATES ./terraform.tfstate
        - ls -a
        - export TF_VAR_secret_string=$SECRET_STRING
        - export TF_VAR_secret_key_base=$SECRET_KEY_BASE
        - export TF_VAR_cors_allowed_endpoint=$CORS_ALLOWED_ENDPOINT
        - export TF_VAR_ebs_app=$EBS_APP
        - export TF_VAR_ebs_env=$EBS_ENV
        - export TF_VAR_s3_bucket=$S3_BUCKET
        - export TF_VAR_secretsmanager=$SECRETSMANAGER
        - export TF_VAR_db_name=$DB_NAME
        - ../terraform_cmd/terraform init
        - ../terraform_cmd/terraform refresh -state=./terraform.tfstate
        - ../terraform_cmd/terraform apply -auto-approve
      deploy:
        provider: elasticbeanstalk
        access_key_id:
          secure: $AWS_ACCESS_KEY_ID
        secret_access_key:
          secure: $AWS_SECRET_ACCESS_KEY
        region: $AWS_DEFAULT_REGION
        app: $EBS_APP
        env: $EBS_ENV
        bucket_name: $EBS_APP
